<h1>New user</h1>
<% if session[:user_is_admin]%>
<%= render 'form' %>
<%else%>
	<center>
		<div class="alert alert-danger" role="alert">你没有权限访问</div>
   	 	<%= link_to "返回",blogs_path,:class=>"btn btn-warning"%>	
	</center>
<%end%>