// Place all the styles related to the Avatars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.upfile {
	width: 40%;
	margin-left: 3%;
	margin-top: 3%;
	background-color: #EFEFEF;
	border-radius: 3%;
	border:0;
}